@import "react-alice-carousel/lib/alice-carousel.css";
.slider{
  width: 100%;
  max-height: 100vh;
  background-color: #fff;
  margin: 1px auto;
  color: #fff;
}

.sliderimg{
    margin: 5px auto;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 5px;
  }