.nav{
    width: 100%;
    height: 80px;
    background-color: cornflowerblue;
    z-index: 200;
    position: sticky;
    top: 0;
}
.navbar{
    width: 80%;
    margin: 0 auto; 
    height: 70px;
    background-color: cornflowerblue;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.nav_logo{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
.navlist{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-size: 17px;
    font-weight: 500;
}
.navlist ul{
    width: 700px; 
    font-size: 17px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist ul li{
    width: 100%;
    margin: 10px;
    padding: 10px;
}
.navlist ul li:hover{
    font-size: 20px;
    font-weight: 600;
}
.linking{
    text-decoration: none;
    color: #fff;
}