.nav{
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    z-index: 200;
    position: sticky;
    top: 0;
}
.navbar{
    width: 80%;
    /* margin: 0 auto;  */
    height: 60px;
    background-color: cornflowerblue;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.nav_logo{    
    margin: 60px;
    font-size: 19px;
    font-weight: 700;
    /* color: #b953b9; */
}
.navlist{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 10px; */
}
.nav-list{
    margin-right: 10px;
    width: 483px;
}
.nav-list ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list ul li{
    /* background-color: #37444a; */
    color: #fff;
    width: 47px;
    padding: 20px;
    margin:  0 2px ;
    text-align: center;
}
.btn-list{
    width: 100%;
}
.btn-list .btn{
    width: 89px;
    padding: 22px;
    margin: 5px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #b953b9;
}
.nav-list ul li:hover{
    font-size: 15px;
    font-weight: 600;
    width: 50px;
    background-color: #111;
}

.linking{
    text-decoration: none;
    color: #fff;
}